<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="PathToDllFile" value="C:\Users\JA0006284\Documents\Visual Studio 2017\Projects\CPR\CPR.ComPort\bin\Debug\CPR.ComPort.dll"/>
    <add key="ComPort" value="COM6"/>
    <add key="BaudRate" value="9600"/>
    <add key="ReadTimeOut" value="10000"/>
  </appSettings>
</configuration>